<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Project Amare</h1>
        <h2>Connecting patients and families around the world</h2>
        <p>Project Amare is a network that aims to connect patients or family members of patients with other individuals who have gone through the same disease, and are inspired to share their knowledge about this disease. These individuals are our "champions." Amare aims to ultimately empower patients, and provide for them a source of knowledge and emotional support.

        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Register now &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>How does it work?</h2>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
          <hr class=small>
          <p>
          <ul>
<li>Create an account</li>
<li>Find a "Champion" -- an individual who has gone through a disease and can provide information and insight.</li>
<li>Message the "champion" to introduce yourself.</li>
<li>If appropriate, continue messaging and/or calling the "champion."</li>
<li>Post questions to our community on disease-specific forums.</li>
<li>Find other "champions" for additional insights.</li>
<li>Check out our article posts for the newest research.</li>
          </ul>
          </p>
        </div>
    <section id="appinfo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="section-heading">What makes Amare different:</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6 text-center">
                    <div class="service-box">
                        <img class="icon img-responsive" src="/img/connection.png">
                        <h3>One-on-one</h3>
                        <p class="text-muted">
One-on-one, personal, continued relationships with multiple "champions."</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <div class="service-box">
                        <img class="icon img-responsive" src="/img/connection.png">
                        <h3>Connection</h3>
                        <p class="text-muted">
Connection with enthusiastic, savvy individuals or "champions" who can provide you with insightful info</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6 text-center">
                    <div class="service-box">
                        <img class="icon img-responsive" src="/img/personalizedfeeds.png">
                        <h3>Personalized</h3>
                        <p class="text-muted">Personalized feeds with information about the latest research, specific to disease, generated by champions and by our undergraduate research team.</p>
                    </div>
                </div>
                <!--div class="col-sm-3 col-xs-6 text-center">
                    <div class="service-box">
                        <img class="icon img-responsive" src="/img/personalizedfeeds.png">
                        <h3>Free</h3>
                        <p class="text-muted">The app is completely free for teams to use. It's perfect for use on the go while traveling to tounaments.</p>
                  </div>
                </div>-->
                <div class="col-sm-3 col-xs-6 text-center">
                    <div class="service-box">
                    <!--i class="fa fa-4x fa-gamepad text-primary sr-icons"></i-->

                    <img class="icon img-responsive" src="/img/voicevideo.png">
                        <i class="fa fa-4x fa-hand-o-right text-primary sr-icons"></i>
                        <h3>Voice and Video</h3>
                        <p class="text-muted">Both voice/video call and messaging are available as ways of communication.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <div class="col-xs-12">
          <h2>What makes Amare different?</h2>
          <p>
          <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li> </li>
          </ul>
          </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-xs-12">
          <h2>Meet a few of our champions</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-xs-12">
          <h2>Meet The Team</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->

